@import url("nav&footer.css");

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
    margin: 0;
}
@media only screen and (min-width: 768px){
    h2 {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 400;
        margin: 0;
        padding: 0;
        opacity: 0;
        transition: opacity 1.8s; /* Added transition for opacity */
    }

    .textVisible {
        opacity: 1;
    }

    main {
        display: grid;
        margin: 0;
        height: 100vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 25rem);
        gap: 20px;
        padding: 50px;
        padding-top: 10px;
        margin-bottom: -3rem;
        margin-left: 3rem;
        margin-right: 3rem;
        margin-bottom: 7rem;
    }

    .imageBox {
        border-radius: 1rem;
        background-size: cover; /* Cover the entire div with the background image */
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0;
        transition: filter 0.2s, opacity 0.6s, transform 0.55s cubic-bezier(0.2, 0.9, 0.5, 1.2);
    }
    .left-right{
        transform: translateX(-50px);
    }
    .right-left{
        transform: translateX(50px);
    }
    .top-bottom{
        transform: translateY(-50px);
    }
    .bottom-top{
        transform: translateY(50px);
        background-position: 0px -230px;
    }

    .visible {
        opacity: 1;
        transform: translateY(0) translateX(0); /* Reset transform to 0 */
    }

    .imageBox:nth-child(1) {
        grid-row: span 2; 
        background-image: url('../assets/images/photosGallery/image1.png'); /* Set the background image */
    }

    .imageBox:nth-child(2) {
        background-image: url('../assets/images/photosGallery/image2.jpg'); /* Set the background image */
    }

    .imageBox:nth-child(3) {
        background-image: url('../assets/images/photosGallery/image3.jpg'); /* Set the background image */
    }

    .imageBox:nth-child(4) {
        grid-column: span 2; 
        background-image: url('../assets/images/photosGallery/image4.jpg'); /* Set the background image */
    }

    .imageBox:hover {
        transform: scale(1.02);
    }

    .dimmed {
        filter: brightness(75%);
    }
}
@media only screen and (max-width: 768px){
    h2 {
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        margin: 0;
        padding: 0;
        opacity: 0;
        transition: opacity 1.8s; /* Added transition for opacity */
    }

    .textVisible {
        opacity: 1;
    }

    main {
        display: grid;
        margin: 0;
        height: auto;
        width: 100%;
        justify-content: center;
        grid-template-columns: repeat(2, 10rem);
        grid-template-rows: repeat(3, 10rem);
        gap: 5px;
        padding-top: 10px;
        margin-bottom: 2rem;
    }

    .imageBox {
        border-radius: 1rem;
        background-size: cover; /* Cover the entire div with the background image */
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0;
        transition: filter 0.2s, opacity 0.6s, transform 0.55s cubic-bezier(0.2, 0.9, 0.5, 1.2);
    }
    .left-right{
        transform: translateX(-10px);
    }
    .right-left{
        transform: translateX(10px);
    }
    .top-bottom{
        transform: translateY(-10px);
    }
    .bottom-top{
        transform: translateY(10px);
    }

    .visible {
        opacity: 1;
        transform: translateY(0) translateX(0); /* Reset transform to 0 */
    }

    .imageBox:nth-child(1) {
        grid-row: span 2; 
        background-image: url('../assets/images/photosGallery/image1.png'); /* Set the background image */
    }

    .imageBox:nth-child(2) {
        background-image: url('../assets/images/photosGallery/image2.jpg'); /* Set the background image */
    }

    .imageBox:nth-child(3) {
        background-image: url('../assets/images/photosGallery/image3.jpg'); /* Set the background image */
    }

    .imageBox:nth-child(4) {
        grid-column: span 2; 
        background-image: url('../assets/images/photosGallery/image4.jpg'); /* Set the background image */
    }

    .imageBox:hover {
        transform: scale(1.02);
    }

    .dimmed {
        filter: brightness(75%);
    }
}
